body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-image: url(../image/flower2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);

}

.header {
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 3rem;
    margin: 0;
}

.header p {
    font-size: 1.5rem;
}

.header .cta {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
img {
    width: 300px;
    height: 200px;
    
}
.nav-link{
    margin:0 20px;

}

.section {
    padding: 40px 20px;
}

.section:nth-child(odd) {
    background:#b9b9b9;
}

.section h2 {
    text-align: center;
    color: white;
}

.section p {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.section .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.content .item {
    max-width: 300px;
    text-align: center;
    gap: 40px;
}

.content .item img, .content .item video, .content .item iframe {
    width: 100%;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
} 