body {
    font-family: Arial, sans-serif;
    background: url('../image/home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(4px);


   
}
.nav-link{
    margin:0 20px;

}
.hero {
    display: flex;
    align-items: center;
    
}
.text-container {
    text-align: left;
   margin-top: 150px;
}
.text-container h1 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #f8f9fa;
    margin-bottom: 20px;
}
.text-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f5f2f2;
}
